* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-bg: #807182;
  --light-pink-bg: #f9c7c2;
  --main-bg: #d8aa96;
  --dark-text: #322827;
  --main-font: 'Montserrat', sans-serif;
}
